/*admin.css*/
body {
    background-position: center;
    margin: 0;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.nav-bar {
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    }

.nav-bar a {
    color: white;
    padding: 15px;
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.middle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.slogan {
    float: left;
    transform: translate(0, 40%);
    color: white;
    display: inline-block;
    margin: 10px;
}

.vl {
    float: left;
    border-left: 6px solid;
    border-left-color: rgba(242, 242, 242, 0.6);
    height: 200px;
    margin: 10px;
}
section {
    display: inline-block;
}

ul {
    
}

/*style submit button, will change colours to match colour scheme*/
input[type=submit] {
    width: 10%;
    min-width: 75px;
    background-color: #ef2288;
    border: none;
    color: white;
    cursor: pointer;
    }

input[type=submit]:hover {
    background-color: #d5198e;
}

table, td, th {
	border: 1px solid black;
}
